<% if @payments.empty? %>
    You earned nothing yet

<% else %>
    <% @payments.each do |p| %>
        <table>
          <thead>
          <tr>
            <th>Note</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= p.note_title %></td>
          </tr>
          </tbody>
        </table>
    <% end %>
    Summary: <%= @payments.map { |p| p.price }.inject(:+) %>
<% end %>