<header class="navbar-fixed-top">
  <!-- header -->

  <%= render '/layouts/pre_header' %>

  <div id="mainHeader" role="banner">
    <div class="container">
      <nav class="navbar navbar-default scrollMenu" role="navigation">
        <div class="navbar-header">
          <!-- responsive navigation -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Logo -->
          <a class="navbar-brand" href="/"><img src="/images/slider/rs-slider/demo/logo.png" alt="PROGRAMISTICS"/></a>
        </div>

        <%= render '/layouts/main_menu' %>

      </nav>
    </div>
  </div>
</header>
<!-- header -->
