<!-- pre header -->
<div id="preHeader" class="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="quickMenu">
          <li><a href="/template-site-map.html" class="linkLeft">Site map</a></li>
          <li><a href="/template-about.html">About us</a></li>
          <li><a href="/template-team.html">Our team</a></li>
          <li><a href="/template-contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <div id="contactBloc" class="clearfix">
          <!-- social icons -->
          <ul class="socialNetwork">
            <li><a href="#" class="tips" title="follow me on Facebook"> <i class="icon-facebook-1"></i></a></li>
            <li> <a href="#" class="tips" title="follow me on Twitter"> <i class="icon-twitter-bird"></i> </a> </li>
            <li>
              <a href="#" class="tips" title="follow me on Google+">
                <i class="icon-gplus-1"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tips" title="follow me on Linkedin">
                <i class="icon-linkedin-1"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tips" title="follow me on Dribble">
                <i class="icon-dribbble"></i>
              </a>
            </li>
            <!-- social icons -->
          </ul>
          <!-- phone -->
          <span class="contactPhone"><i class="icon-mobile"></i>615.987.1234</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- pre header -->
