<!-- Sidebar -->
<aside class="col-md-4">
  <section>
    <h1>What is all about?</h1>

    <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio lacinia ac. Vestibulum ante
      ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
  </section>
  <section class="widget search clearfix">
    <form class="form-inline" role="form">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control lg" placeholder="Search…">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-sm">Submit</button>
										</span>
      </div>
    </form>
  </section>
  <section class="widget">
    <h3>Categories</h3>
    <ul class="list-unstyled iconList">
      <li><a href="#">Lates</a></li>
      <li><a href="#">Most popular</a></li>
      <li><a href="#">Paid access only</a></li>
    </ul>
  </section>
  <section class="widget">
    <h3>Archives</h3>
    <ul class="list-unstyled iconList">
      <li><a href="#">March 2012</a></li>
      <li><a href="#">September 2011</a></li>
      <li><a href="#">July 2011</a></li>
      <li><a href="#">June 2011</a></li>
    </ul>
  </section>
  <section class="widget tagCloud">
    <h3>Tag cloud</h3>
    <a href="#" class="w2">News</a>
    <a href="#" class="w1">category</a>
    <a href="#" class="w3">business</a>
    <a href="#" class="w3">economy</a>
    <a href="#" class="w1">lolcats</a>
    <a href="#" class="w2">design</a>
    <a href="#" class="w2">Videos</a>
    <a href="#" class="w1">Web</a>
    <a href="#" class="w3">Photos</a>
    <a href="#" class="w2">Music</a>
  </section>

</aside>