<header class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1><%= title %></h1>
        <p><%= subtitle %></p>
      </div>
      <!--<div class="col-sm-6 hidden-xs">-->
        <!--<ul id="navTrail">-->
          <!--<li><a href="index.html">Home</a></li>-->
          <!--<li><a href="blog-home-sidebar-right.html">Blog</a></li>-->
          <!--<li id="navTrailLast">Blog sidebar right</li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</header>